* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding-sm {
  padding: 10px;
}

.padding-md-top {
  padding-top: 20px;
}

.margin-md-top {
  margin-top: 20px;
}

.margin-lg-top {
  margin-top: 25px;
}

.margin-xlg-top {
  margin-top: 30px;
}

.margin-extra-top {
  margin-top: 60px;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
text-align: center;
}